@charset "utf-8";


body {
	margin-left: auto;
	margin-right: auto;
	width: 95%;	

}

/*header*/

body header {
	display:block;
	width:100%;
}

h1#title {

	width:100%;
	height:60px;
}

body > nav.menu a {
	width:100%;
}

body > header > nav.menu li {
	width:20%;

}

/*site navigation*/

nav.menu li {
	display: block;
	float: left;
}

nav.menu a {
	display: block;
	text-align: center;
}

/* Column content */

section#leftCol{
	clear:left;
	float:left;
	width:33%;
	padding:1.5em;

}

section#rightCol{
	float:left;
	width:67%;

}

section#rightCol img {
	display:block;
	/*widths at 100% of parent */
	width:100%;
}

section#rightCol > nav.supeMenu li {
	width:25%;
	float:left;
	text-align:center;

}

/*Footer Navigation */
footer {
	clear:left;	
	position:relative;
	text-align:center;
	bottom: -80px;
}

footer::after {
	clear: both;
	content: "";
	display: table;
}

footer > nav.footNav {
	float:left;
	width:25%;
}

footer p {
	display:block;
	float:auto;
	text-align:center;
	padding:1em;
}
