@charset "utf-8";


body {
	margin-left: auto;
	margin-right: auto;
	width: 95%;	
}

/*header*/

div.headWrapper {
	display:block;
	width:100%;
	/* sets header position */
	position:relative;
}

nav.menu a {
	width:100%;
	display: block;
	text-align: center;
}

a.logo {
	display:block;
	/* sets logo link area */
	width:20%;
}



a.logo img {
	display:block;
	/* sets logo link size within parent area */
	width:90%;
	margin-left:auto;
	margin-right:auto;
}

/*site navigation*/

nav.menu {
	display:block;
	/* sets nav bar position in header to bottom right */
	position:absolute;
	bottom:0;
	right:0;
	width:80%;	
}

nav.menu a {
	display: block;
	float: left;
	width:20%;
	padding:.4em 0 .4em;
}

/* Column content */

section#leftCol{
	clear:left;
	float:left;
	width:33%;
	padding:1.5em;
}

section#rightCol{
	float:left;
	width:67%;
	/* padding-top:1em; */
}

section#rightCol img {
	display:block;
	/*widths at 100% of parent */
	width:100%;
}

nav.supeMenu {
	padding-top:1em;
}

section#rightCol > nav.supeMenu li {
	width:25%;
	float:left;
	text-align:center;

}

/*Footer Navigation */
footer {
	clear:left;	
	position:relative;
	text-align:center;
	bottom: -80px;
}

footer::after {
	clear: both;
	content: "";
	display: table;
}

footer > nav.footNav {
	float:left;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	padding:.5em;
}

footer p {
	clear:both;
	text-align:center;
	padding:1em;
}

/*catalogue*/

.pageHeader {
	padding:4em 2em 1.4em;
}

section.comList {
	width:100%;
}
