@charset "utf-8";

/* colors: dc blues #009de0 #0099cc dc universe #275faa #336699 */
/* Yellows #feea3f #ffff33 #fff200*/

html {
	background-color:#009de0;
}

body {
	background-color:white;
	font-family:Futura,Arial,sans-serif;
}

/* header {
	background-color:black;
} */
a.logo {
	background-color:#feea3f;
	
}

div.logoArea {
	
}

nav.menu a {
	font-family:Arial black,sans-serif;
	font-size:1.5em;
	background-color:white;
	line-height: 1.8em;
	color:black;
	text-transform:uppercase;
	border-top:2px solid #009de0;
	/* border-bottom:2px solid #009de0; */
}

nav.menu a:hover {
	background-color:#009de0;
	color:white;
}

div.headWrapper {
	border-bottom: 2px solid #009de0;

}

section#leftCol {
	line-height:1.2em;
}

section#rightCol {
	background-color:white;

}

section#rightCol > nav.supeMenu li {
	font-size:1.2em;
	line-height: 1.5em;
}

section#rightCol a {
	text-transform:none;	
	color:black;
}

footer {
	background-color:#009de0;
	color:white;
	text-decoration:none;
}

nav.footNav a {
	color:white;
	line-height: 1.8em;
	text-transform:uppercase;
}

footer p {
	font-family:sans-serif;
	font-size:.8em;
}

/*catalogue*/

div.pageHeader {
	border-left:10px solid #feea3f;
}

section.comList a {
	text-decoration:none;
}

section.comList {	
	margin-top: 10px;
}

section.comList > div.mainWrapper > div.box {
	/* for each grid cell */
}

div.pageHeader h1 {	
   margin: 0;
   font-size: 2rem;
   font-weight: bold;
   line-height: 1.2em;
   word-wrap: break-word;
	display: block;
	text-transform:uppercase;
}

section.comList h2 {
	font-size:1.6em;
	padding:1.5em 2em 1em;
	font-weight:bold;
	text-transform:uppercase;
	border-left:10px solid gold;
}

section.comList p {
	color:black;
}
