@charset "utf-8";



div.mainWrapper, div.mini {
	clear:both;
	width: 90%;
	margin-left: auto;
	margin-right: auto;	
	display: grid;
	justify-content:space-evenly;
	grid-template-columns:20% 20% 20% 20% 20%;
	grid-gap: 10px;

}

div.box {

}

div.mainWrapper > div img, div.mini > div img {
	/* fill the cell */
	width:100%;	
	
}

div.mainWrapper p, div.mini p {
	text-align:center;
	text-transform:uppercase;
	
}